* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  font-family: 'Oxigen', sans-serif;
}

#header-nav {
  background-color:honeydew;
  border-radius: 0;
  border: 0;
}

#nav-list a {
  font-size: 1.2em;
}

#nav-list a:hover {
  background-color: #3dac59;
  border-radius: 4px;
  transition: 0.5s;
}

#nav-list a:focus, #nav-list a:active {
  background-color: #3dac59;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #3dac59;
}